.aoe-table{
    width: 100%;
}
.aoe-info-piece {
    width:100%;
}
.aoe-inputs{
    padding: 10px;
    margin-left: 10px;
    min-width: 300px;
    box-sizing: border-box;
    width: 100%;
}
.aoe-input-descriptor{
    padding-left: 10px;
}
.aoe-title{
    padding-left: 10px;
    padding-top: 30px;
}
.aoe-title::after{
    content: "";
    display: block;
    position: relative;
    background-color: orange;
    width: 10%;
    height: 3px;
}
.aoe-goback{
    position: relative;
    color: orange;
}
.aoe-goback::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: width 0.3s ease;
}
.aoe-goback:hover{
    cursor: pointer;
}
.aoe-goback:hover::after{
    width: 100%;
}
.aoe-heading{
    margin-bottom: 1rem;
}
