.au-container {
    padding: 1rem;
}

.au-title {
    margin-bottom: 1rem;
    color: orange;
}

.au-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.au-input,
.au-select {
    padding: 0.5rem;
    font-size: 0.9rem;
}

.au-table {
    width: 100%;
    border-collapse: collapse;
}

.au-th,
.au-td {
    border: 1px solid #ddd;
    padding: 0.75rem;
}

.au-th {
    background-color: #f5f5f5;
    font-weight: 600;
}

.au-row:nth-child(even) {
    background-color: #fafafa;
}

.au-muted {
    color: #666;
    font-size: 0.8rem;
}

.au-role {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    display: inline-block;
}

.au-role-ADMIN {
    background-color: #fde2e2;
}

.au-role-REGULAR_USER {
    background-color: #e2e3e5;
}

.au-edit-btn {
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    border: 1px solid #333;
    background: transparent;
    height: 100%;
    min-width: 100px;
}
.au-user-add-modal,
.au-delete-user-modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333b0;
    z-index: 99999;
}
.au-user-add-box,
.au-delete-box {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.au-user-add-form{

}
.au-spinner-button{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.au-spinner-button button{
    width: 100%;
}
.centered{
    text-align: center;
}
.smaller{
    max-width: 100px;
}
.danger{
    background-color: rgb(255, 87, 87);
}
.au-delete-warning-message{
    font-size: 20px;
}
.au-warning-buttons{
    display: flex;
    justify-content: end;
    padding: 10px;
}
.au-warning-buttons button {
    width: 100px;
}
.warning-message{
    color: red;
    font-size: 25px;
}
.au-error-box {
    z-index: 99999999;
}