.admin-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.admin-nav {
    flex: 0 0 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-dis {
    flex: 1; 
    height: 100vh;
    overflow-y: auto;
}
