.admin-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.admin-nav {
    flex: 0 0 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-dis {
    flex: 1; 
    height: 100vh;
    overflow-y: auto;
}
@media (max-width: 768px) {
    .admin-container {
        flex-direction: column;
    }

    .admin-nav {
        width: 100%;
        flex: 0 0 0px;
    }
}

.admin-nav {
    display: flex;
    background-color: #f5f7fa;
    border-radius: 10px;
    flex-wrap: wrap;
}

.admin-nav button {
    border: none;
    background-color: transparent;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #000000;
    transition: all 0.2s ease;
    margin: 12px;
}
.admin-nav button::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: orange;
}

.admin-nav button:hover {
    background-color: #e6ebf1;
}

.admin-nav button:active {
    transform: scale(0.97);
}
