.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  z-index: 11;
  animation: popup 0.3s ease;
}

@keyframes popup {
  from { transform: translate(-50%, -40%) scale(0.9); opacity: 0; }
  to   { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

.formSwitchButton {
  background-color: none;
  border: none;
  background: none;
  font-size: 15px;
  color: green;
}
.formSwitchButton:hover {
  cursor: pointer;
}
.closeButton {
  width: 25%;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(224, 39, 39, 0.637);
  padding: 5px;
  font-size: 15px;
}
.closeButton:hover {
  cursor: pointer;
  background-color: rgba(224, 39, 39, 0.822);
}