.cardContainer{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    flex-grow: 1;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    min-width: 400px;
    max-width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.imageContainer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50%;
    border: 1px solid black;
}
.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.textContainer {
    height: 40%;
    border: 1px solid black;
    overflow: scroll;
    padding: 10px;
}
.buttonsContainer{
    height: 10%;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.buttonsContainer button{
    background: rgb(238, 238, 173);
    border-radius: 10px;
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
    font-size: larger;
}
.header {
    text-align: center;
    font-size: 60px;
    margin: 30px;
}
@media screen {
    
}