.container{
    display: flex;
    min-height: 800px;
    overflow-x: hidden;
    margin: ;
}
.leftpanel{
    flex-grow: 0.3;
    background: linear-gradient(to right,rgb(194, 193, 193), rgb(119, 119, 118),rgb(107, 107, 107));
    border-top-left-radius: 10px;
    padding: 5px;
}
.rightpanel{
    flex-grow: 1;
    background: linear-gradient(to bottom, rgb(255, 89, 89),rgb(211, 211, 211));
    border-top-right-radius: 10px;
    padding: 5px;
}
.userInfo{
    padding: 10px;
}
.indicators{
    color: rgb(54, 54, 54);
    font-style: italic;
}
.indicatorsData{
    font-family: 'Courier New', Courier, monospace;
}
.userInfoItem{
    padding: 5px;
}
@media (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .leftpanel{
        border-top-right-radius: 10px;
    }
    .rightpanel{
        border-top-right-radius: 0px;
    }
}